language: android

script: "./gradlew clean assembleDebug"

android:
  components:
      - platform-tools
      - tools
      - build-tools-25.0.0
      - android-25
      - extra-android-m2repository
      
jdk:
  - oraclejdk8
