<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.b1ackr0se.bridddle">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.TranslucentBars">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.DribbbleLoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Login">
            <intent-filter>
                <data
                    android:host="auth-callback"
                    android:scheme="plaid"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/AppTheme.Search.NoActionBar">
        </activity>
    </application>

</manifest>